@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

body {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: white;
  height: 100%;
 }

 main {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   text-align: center;
   align-items: center;
 }

 a {
   text-decoration: none;
 }

 /******************** Top Navigation  bar START****************/
 .top {
   display: flex;
 }

 .top .log {
   position: absolute;
   right: 0;
 }
 .log {
   display: flex;
   justify-content: flex-end;
   padding-right: 20px;
   padding-top: 5px;
 }

 .log a {
   padding: 0.2em;
   text-decoration: none;
   font-family: 'Waiting for the Sunrise', cursive;
   font-weight: bolder;
   color: #e62e40;
   font-size: 20px;
 }

 .log img {
   width: 35px;
   height: 35px;
 }

 .log:hover .onHover {
   display: block;
 }

 .onHover:hover {
   display: flex;
 }

 .onHover  {
   display: none;
   color:  #e62e40;
   border: none;
   padding: 10px;
   background-color: white;
 }

 /******************** Top Navigation bar END ****************/

 /***************************** header START ***********************/
header {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid;
  flex-direction: row;
}

header img {
  width: 50px;
  height: 50px;
}

h1 {
  font-size: 80px;
  color: #e62e40;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px 2px black;
}
.hLarge {
  display: none;
}

h1 a {
  color: #e62e40;
}
/**************************** header END ************************/

/***************************** Discount START ***********************/

#discount {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e62e40;
  width: 100%;
}

h2 {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 30px;
  color: white;
  border-bottom: 3px solid;
  margin: 0;
}

h2 a {
  color: white;
  margin-bottom: 0;
}

h2 em {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
}
/***************************** Discount END ***********************/

/******************************* Index START ********************/
h3 {
  margin: 0;
  font-family: Copperplate;
  text-align: center;
  color: #e62e40;
  text-shadow: 3px 3px 3px black;
}

#orderBtn {
  padding: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 50%;
  font-size: 70px;
  text-align: center;
  font-weight: bolder;
  color:  #e62e40;
  border: 6px solid black;
  justify-content: center;
  display: flex;
}
article {
  display: flex;
  flex-direction: column;
  border-style: double;
  margin: 0.7em;
  padding: 0.5em;
  border-color:  #e62e40;
}

.wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
}

.wrapper img {
  padding: 1em;
  width: 75px;
  height: 50px;
}

.wrapper h3 {
  font-size: 70px;
}

article p {
  font-size: 25px;
  margin: 0;
  border-top: 3px solid;
  color: black;

}
/*************************** Index END *********************/

/*************************** footer START ******************/
nav {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 0.5em;
}

footer nav {
  display: flex;
  flex-direction: row;
  border-top: 3px solid;
  justify-content: center;
}

footer img {
  width: 50px;
  height: 30px;
}

footer h6 {
  text-align: center;
  margin: 0;
}
/*************************** footer END *******************************/

/************************* form/login START ***************************/

.formWrap form {
 display: grid;
 grid-row-gap: 0.25em;
 grid-column-gap: 1em;
 border: solid;
 margin: 2em;
 padding: 1.5em;
 padding-top: 0;
}

.formWrap h2 {
  grid-column: 1 / 3;
  color:  #e62e40;
  border-bottom: none;
  padding-left: .5em;
}

.formWrap input[type="submit"] {
 grid-column: 2 / 3;
 justify-self: end;
 height: 40px;
 color:  white;
 background-color: black;
 font-family: 'Waiting for the Sunrise', cursive;
 font-size: 20px;
 font-weight: bolder;
 margin-bottom: 2px;
 border: none;
}

.formWrap input {
  margin-bottom: 20px;
  font-size: 15px;
  height: 20px;
  min-width: 20px;
  border: 2px solid #e62e40;
}

input:focus {
  background-color: #CCC;
}

.formWrap form label {
  font-weight: bolder;
  font-size: 16px;
  line-height: 0.8em;
  text-align: left;
}

/********************* form/login END *****************************/

/************************* menu START ***************************/

#menuToggler {
  position: fixed;
  z-index: 1;
  font-size: 3em;
  padding-left: 0.3em;
}

#myBasket {
  display: flex;
  flex-direction: column;
  border-style: solid;
  margin-top: 2.2em;
  font-size: 2.2em;
  background-color: white;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: translateX(-100vw);
  transition: 0.5s;
}

#myBasket.open {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}

#myBasket h2, #checkoutBasket h2,  {
  color:  #e62e40;
  font-size: 1em;
  border-bottom: none;
  text-align: center;
}

#myBasket ul, #checkoutBasket h2 {
  margin-top: 0.2em;
  letter-spacing: 0.1em;
  line-height: 2em;
}

.basketTable td {
  font-size: 0.7rem;
}

.basketTable th {
  font-size: 0.8rem;
}

.checkoutBtn, .rmvBtn, #checkoutBasket table th a, .printBtn, .buttonD  {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  background-color: black;
}

#checkoutBasket table tr {
  font-size: 30px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100vw;
  padding-left: 10px;
}

.menuForm {
  display: grid;
  grid-template-columns: 20% 10% 35% 5% 10%;
  width: 100%;
  grid-gap: 1em;
  align-items: end;
}

.menuForm input[type="text"] {
  align-self: flex-end;
  width: 3vw;
}

.menuForm input[type="submit"] {
  background-color:  #e62e40;
  color: white;
  border-color: black;
  border-radius: 20px;
  padding: 3px;
  max-height: 40px;
}

.menuForm h2 {
  color: #e62e40;
}

h5 {
  font-size: 30px;
  background-color: black;
  color: white;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 0;
}

.textPrice {
  font-family: sans-serif;
  font-size: 1.4rem;
}

.textDescription {
  font-size: 0.7rem;
}

.textName {
  font-size: 1.4rem;
}

/****************************** menu end **********************************/

/************************** checkout start ***********************************/
.checkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#checkoutBasket {
  border-style: none;
  display: flex;
  flex-direction: column;
  font-size: 2.2em;
  padding: 5px;
  width: 70%;
  align-items: center;
}

#checkoutBasket table th a {
  padding: 0.3rem 0.5rem;
}

#newCost {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 0.7em;
  background-color: #e62e40;
  color: white;
  font-weight: bolder;
  border-bottom: solid white;
}

.line {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.line label {
  padding-top: 5px;
  padding-right: 5px;
}

#postCode, #cvv {
  max-width: 50%
}

.line input[type="submit"] {
  width: 40%;
}

.line a {
  width: 40%;
  text-decoration: none;
}

.pay p {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 0.7em;
  background-color: #e62e40;
  color: white;
  font-weight: bolder;
  margin-top: 0;
}

.pay input {
  height: 20px;
}

.pay input[type="submit"] {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  background-color: black;
  float: right;
  padding: 0.3rem 0.5rem;
  margin-top: 10px;
  height: auto;
}

.pay label {
  font-size: 15px;
}

.buttonD {
  margin-bottom: 10px;
}

/************************** checkout END *******************************/

/********************** confirm START **********************************/

.confirmMenu h2 {
  color: #e62e40;
  border-bottom: none;
}

.invoice, .feed {
  display: table;
  border: none;
}

.printBtn {
  width: 50%;
  margin: 10px 0;
}

/********************** confirm END **************************************/

/********************** contact START *********************************/

#googleMap {
  border: #e62e40 solid;
  width: 95%;
  height: 500px;
  margin-bottom: 5px;
}

.feedForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.feed {
  margin: 20px;
}

.feedForm label h2 {
  color: black;
  border-bottom: none;
}

.feedForm textarea {
  margin-bottom: 20px;
  font-size: 15px;
  border: 2px solid #e62e40
}

.feedForm #name {
  font-size: 25px;
  border: 2px solid #e62e40
}

/******************************** contact END ***********************/

/******************************** admin START ****************************/
.adminWrap form {
 display: grid;
 grid-row-gap: 0.25em;
 grid-column-gap: 1em;
 border: solid;
 margin: 2em;
 padding: 1.5em;
}

.adminSection h2 {
  color: #e62e40;
  border-bottom: 0;
  align-items: center;
}

table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: auto;
  font-size: 0.6em;
  font-family: inherit;
  width: 100%;
  min-width: 300px;
}

table thead th {
  background-color: #e62e40;
  color: white;
  font-size: 0.7rem;
}

table tr:nth-child(even) {
  background-color: #CCC;
}

table td {
  padding: 5px;
}

.btn {
  text-decoration: none;
  background-color:  #e62e40;
  color: white;
  border-color: black;
  border-radius: 20px;
  padding: 3px;
}

.menuForm {
  border: none;
}

.custTbl th, .custTbl tr {
  font-size: 0.5rem;
}

.menuTbl tbody tr td input[type=number], .orderTable tbody tr td input[type=number] {
  font-size: 1rem;;
  width: 20px;
  text-align: center;
}

.custTbl tbody tr td input[type=text] {
  width: 5vw;
}

/********************************* admin end *********************************/

/* ************************************************************************* */
/****************** for devices with screens larger than 680px ***************/
@media screen and (min-width: 680px)  {

  .wrapper img {
    padding: 1em;
    width: 100px;
    height: 50px;
  }

  article p {
    font-size: 35px;
    margin: 0;
  }

  .formWrap  {
    display:flex;
    flex-direction: row;
  }

  .singnIn {
    height: 40vh;
  }

  h1 {
    display: none;
  }

  .hLarge {
    display: contents;
    font-size: 70px;
  }

  header img {
    width: 65px;
    height: 65px;
    padding-top: 10px;
  }

  .log:hover {
  }

  /*************************** menu start ***************************/
  #myBasket {
    position: sticky;
    transform: translateX(0);
    opacity: 1;
    border-style: none;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .menuContainer {
    display: flex;
    align-items: flex-start;
  }

  #menuToggler {
    display: none;
  }

  .addBtn {
    position: relative;
  }

  .menuForm {
    grid-template-columns: 30% 10% 35% 5% 10%;
  }

  .textDescription {
    font-size: 1rem;
  }

  .basketTable td {
    font-size: 1.2rem;
  }

  .basketTable th {
    font-size: 1.5rem;
  }


  /************************** menu END ***************************************/

  /************************ Admin START ***************************************/
  table {
    border: 3px solid black;
    font-size: 1em;
  }

  table thead th {
    font-size: 1rem;
  }

  .custTbl th {
    font-size: 0.8rem;
  }

  .custTbl tr {
    font-size: 0.6rem;
  }

  /************************** Admin end ***************************************/

/*************************** checkout START **************************/
#checkoutBasket table th a {
  font-size: 2rem;
}

#checkoutBasket table tr {
  font-size: 50px;
}

.pay label {
  font-size: 30px;
}

.pay input {
  height: 30px;
}

.line {
  padding-bottom: 10px;
}

/*************************** checkout END **************************/

}

/*************************** End of media 680px query*************************/
/* ************************************************************************* */
/* ************************************************************************* */
/****************** for devices with screens larger than 1050px ***************/

@media screen and (min-width: 1050px) {

  .log img {
    width: 60px;
    height: 60px;
  }

  .log a {
    font-size: 35px;
  }


  .hLarge {
    font-size: 100px;
  }

  .dealWrap {
    display:flex;
    flex-direction: row;
  }

  .wrapper img {
    padding: 1em;
    width: 75px;
    height: 50px;
  }


  #orderBtn {
    padding: 50px;
    margin: 10px;
    border-radius: 50%;
    font-size: 140px;
    max-width: 1030px;
    position: relative;
  }

  #logBtn {
    border-style: none;
    font-size: 30px;
    margin-right: 10px;
    display:flex;
    background-color: white;
    font-family: Copperplate;
  }

  h1 {
    font-size: 100px;
  }

  h3 {
    text-align: center;
    font-size: 50px;
  }

  .foodItem h2 {
    font-size: 75px;
  }

  h4 {
    font-size: 30px;
  }

  h6 {
    font-size: 20px;
  }

  form {
    grid-template-columns: minmax(max-content, 1fr) 3fr;
  }

  footer img {
    width: 100px;
    height: 80px;
    padding-right: 5em;
  }

  .addBtn {
    font-size: 25px;
  }

  select {
    font-size: 25px;
  }

  /**************************** menu START ***********************/

  .textPrice, .textName {
    font-size: 2rem;
  }

  .textDescription {
    font-size: 1.2rem;
  }

  .basketTable td {
    font-size: 1.5rem;
  }

  .basketTable th {
    font-size: 1.8rem;
  }

  .checkoutBtn, .rmvBtn  {
    font-size: 25px;
    padding: 0.2rem;
  }

  h5 {
    font-size: 50px;
  }

  /**************************** menu END *******************************/

  /**************************** Checkout START **************************/
  #checkoutBasket table th a {
    font-size: 3rem;
  }

  .pay label {
    font-size: 50px;
  }

  .pay input {
    height: 50px;
    font-size: 30px;
  }

  .pay input[type="submit"] {
    font-size: 40px;
    padding: 0 20px;
  }

  .pay p, #newCost {
    font-size: 1.5em;
  }

  #discountOff {
    font-size: 30px;
    height: 60px;
    margin-top: 10px;
  }

  .buttonD {
    font-size: 40px;
  }
  /**************************** Checkout END **********************************/

  /**************************** Contact START *********************************/

  .feedForm label h2 {
    font-size: 60px;
  }

  .feedForm textarea {
    font-size: 25px;
  }

  .feedForm #name {
    font-size: 40px;
  }
  /**************************** Contact END ***********************************/

  /**************************** Admin START ***********************************/
  table {
    font-size: 2em;
  }

  table thead th {
    font-size: 2.5rem;
  }

  .custTbl th, .custTbl tr {
    font-size: 1.1rem;
  }

  /************************** Admin end *******************************************/

  /************************** Confirm start ***************************************/

  .confirmMenu h2 {
    font-size: 50px;
  }

}
/* End of media screen 1050px */
